
@tailwind base;
@tailwind components;
@tailwind utilities;

html,body,#__next { height:100%; }
body { background: #071029; color: #e6eef6; font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto; }
